.first-div{
    width: 100px;
    height: 100px;
    background-color: bisque;
    border-width: 3px;
    border-color: aquamarine;
    border-radius: 20%;
    margin: 40px;
    padding : 3px;
}
.normal-para{

color:green;

}
#favourate-paragraph{

    color : pink;
    
}